*{
margin:0;
padding:0;
font-family:'Poppins',sans-serif;
box-sizing: border-box;


}
html{

  scroll-behavior: smooth;
}
body {
background:#080808;
color:#fff;
}

.container{
  padding:10px 10%;
}
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width:250px;
  border-radius:300px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
nav ul li{
  display:inline-block;
  list-style:none;
  margin :10px 20px;

}
nav ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
content: '';
width:0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
  width:100%;

}
.header-text{
margin-top: 10%;
font-size: 30px;
}
.header-text h1{
font-size: 60px;
margin-top: 20px;

 }
 .header-text h1 span{
  color:#ff004f;

 }
 #About{
  padding: 100 px 0;
  color: rgb(248, 248, 248);
  width: 100%;
  

 }
 .row{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 .about-col-1{
  flex-basis: 35%;
 }

 .about-col-2{
  flex-basis: 60%;
 }
 .sub-title{
margin-top: 50px;
  font-size: 60px;
font-weight:80;
color:#fff;


 }
 
 .tab-titles{
  display:flex;
  margin: 20px 0 40px;

 }
 .tab-links{
  margin-right: 50px;
  font-size:18px;
  font-weight:500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
content: '';
width: 0;
height:3px;
background:#ff004f;
position:absolute;
left:0;
bottom:-8px;
transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin:10px 0;
}
.tab-contents ul li span{
color:#ff004f;
font-size:15px;

}
.tab-contents{
  display:none;
   
}
.tab-contents.active-tab{
  display:block;
}
#Cv{
  
    padding: 100 px 0;
    height: 100vh;
    color: rgb(248, 248, 248);
    width: 100%;
    
  }
  .container1{

    width: 100%;
    margin:0 auto;
}
.title1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}


#contact{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-right:250px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.title{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-left{
  width: 40%;
  padding: 3rem;
}
.cont-top{
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff;
}
.cont-element{
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.cont-element i{
  color: #ffffff;
  padding: 0.7rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
}
.cont-element:hover i{
  background-color: #ffffff;
  color: #011627;
}
.cont-element a{
  color: #ffffff;
  text-decoration: none;
}
.cont-bottom{
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-bottom a{
  color: #ffffff;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #181818;
  border-radius: 50%;
}
.cont-bottom a:hover{
  color: #181818;
  background-color: #ffffff;
}


.cont-right{
  width: 60%;
  padding: 3rem;
}
.cont-right form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-right form input, textarea, button{
  width: 100%;
  margin: 1rem 0;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff; 
  transition: all 0.4s ease;
}
.cont-right form button{
  background-color: #ffffff;
  color: #011627;
  cursor: pointer;
}
.cont-right form button:hover{
  background-color: #011627;
  color: #ffffff;
}
.cont-right form input:hover, textarea:hover{
  color: #011627;
  background-color: #ffffff;
}
.cont-right form input:focus, textarea:focus{
  color: #011627;
  background-color: #ffffff;
}


#box {
  max-width: 400px;
  position: relative;
}

#box .fa-search {
  position: absolute;
  top: 14px;
  left: 12px;
  font-size: 10px;
  color:rgb(0, 10, 68);
}

#search {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid rgb(136, 100, 237);
  border-radius: 4px;
  font-size:16px;
  padding: 12px 20px 12px 40px;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search:focus {
  width: 100%;
}